.card{
  display: flex;
}
.card-wrapper {
  width: 420px;
  font-family: 'Courier New', Courier, monospace;
  background-color:darkslategray;
  padding: 40px;
}

.card-title {
    color: white;
}

.text {
  color: white;
}